.dj-box {
    background-color: antiquewhite;
    height: 500px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}